## Numbers


there are 2 types of numbers 

1-integers - butun sonlar

2-floats

In [1]:
# integers
 
a = 20
b = 30
overall = a + b

overall

50

In [3]:
# floats

a_float = 20.1
b_float = 30.5

overall_float = a_float + b_float

overall_float

50.6

In [5]:
# also we can express numbers like 1_2, it outputs numbers without _

unusual_exp = 1_12323_232323_23
unusual_exp

11232323232323

In [8]:
# one of the adventiges of python that we can create several variables in a row and also add values in a row

x, y, z = 1, 2, 3

# expressions over one-row-variables

adding = (x + y + z)
subsracting = (x - y - z)

### when we're doing expressions between float and integer and in some situations the answer will be showed as an integer, But in the cache it's saved as float

In [ ]:
# for example
aa = 12.1
bb = 12.9

aa+bb # 25.0

25.0

In [13]:
## divide signs / and //
# / -> it divide's numbers as a float, 
# // => this's divides as an integer, for example

print(10/2)
print(10//2)

5.0
5

## non-changeble `variables`

#### like other PL, in python also has non-changeble variables. In example included some of them

In [21]:
PI = 3.54

#### when we wanna use input function, it always returns string values, but when we try to add values integer or float in input we've to add type outside of the input

#### for example:

In [24]:
# value = input('enter the value: ')
# print(2+value) => it returns type error, but 

value = int(input('enter the value: '))
print(2+value)

14

# Practice

In [26]:
# 1
value = int(input('add number: '))
print(f'square {value**2}')
print(f'cub {value**3}')

square 4
cub 8

In [27]:
# 2
users_age = int(input('enter your age: '))
print(f'you were born in {2024-users_age}')

you were born in 2006

In [28]:
# 
first_value = float(input('enter any number: '))
second_value = float(input('enter any value'))

print(f" {first_value} + {second_value} = {first_value+second_value} ")
print(f" {first_value} - {second_value} = {first_value-second_value} ")
print(f" {first_value} / {second_value} = {first_value/second_value} ")
print(f" {first_value} * {second_value} = {first_value*second_value} ")

 12.0 + 13.0 = 25.0
 12.0 - 13.0 = -1.0
 12.0 / 13.0 = 0.9230769230769231
 12.0 * 13.0 = 156.0